In [1]:
# !pip install pyarrow
# !pip install fastparquet
# !pip install pandas
# !pip install sqlalchemy

from sqlalchemy import create_engine
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [ ]:
# df = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")

# df.shape

# df.head(20)

In [3]:
engine =  create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [ ]:
# print(pd.io.sql.get_schema(df, name='yellow-taxi-data'))
# df.head(0).to_sql(name = 'yellow-taxi-data', con=engine, if_exists='replace')
# %time df.to_sql(name = 'yellow-taxi-data', con=engine, if_exists='append')

In [7]:
#upload in batches
import pyarrow.parquet as pq
from time import time

parquet_file = pq.ParquetFile(f"D:\DataEnggineering\yellow_tripdata_2023-01.parquet")
batch_no = 0
for batch in parquet_file.iter_batches():
    t_start = time()
    batch_df = batch.to_pandas()
    batch_df.to_sql(name='yellow-taxi-data', con=engine, if_exists='append')
    batch_no+=1
    t_end = time()
    print(f"shape:{batch_df.shape}; batch no#{batch_no}:time {t_end-t_start:3f} second")
print("All done!")

shape:(65536, 19); batch no#1:time 8.630004 second
shape:(65536, 19); batch no#2:time 8.121310 second
shape:(65536, 19); batch no#3:time 8.037998 second
shape:(65536, 19); batch no#4:time 7.336819 second
shape:(65536, 19); batch no#5:time 8.563476 second
shape:(65536, 19); batch no#6:time 8.474536 second
shape:(65536, 19); batch no#7:time 8.966821 second
shape:(65536, 19); batch no#8:time 8.954513 second
shape:(65536, 19); batch no#9:time 8.785969 second
shape:(65536, 19); batch no#10:time 9.492141 second
shape:(65536, 19); batch no#11:time 9.536696 second
shape:(65536, 19); batch no#12:time 10.762439 second
shape:(65536, 19); batch no#13:time 10.817585 second
shape:(65536, 19); batch no#14:time 10.022160 second
shape:(65536, 19); batch no#15:time 9.391958 second
shape:(65536, 19); batch no#16:time 8.393282 second
shape:(65536, 19); batch no#17:time 8.193628 second
shape:(65536, 19); batch no#18:time 8.647637 second
shape:(65536, 19); batch no#19:time 8.376179 second
shape:(65536, 19); batch no#20:time 8.636990 second
shape:(65536, 19); batch no#21:time 9.195892 second
shape:(65536, 19); batch no#22:time 8.903552 second
shape:(65536, 19); batch no#23:time 8.247701 second
shape:(65536, 19); batch no#24:time 10.883529 second
shape:(65536, 19); batch no#25:time 8.926174 second
shape:(65536, 19); batch no#26:time 8.839625 second
shape:(65536, 19); batch no#27:time 9.741001 second
shape:(65536, 19); batch no#28:time 12.706448 second
shape:(65536, 19); batch no#29:time 8.341256 second
shape:(65536, 19); batch no#30:time 9.189651 second
shape:(65536, 19); batch no#31:time 8.405920 second
shape:(65536, 19); batch no#32:time 8.531272 second
shape:(65536, 19); batch no#33:time 8.312875 second
shape:(65536, 19); batch no#34:time 8.814923 second
shape:(65536, 19); batch no#35:time 8.622840 second
shape:(65536, 19); batch no#36:time 9.800230 second
shape:(65536, 19); batch no#37:time 8.540069 second
shape:(65536, 19); batch no#38:time 9.131902 second
shape:(65536, 19); batch no#39:time 10.316499 second
shape:(65536, 19); batch no#40:time 8.821560 second
shape:(65536, 19); batch no#41:time 9.511224 second
shape:(65536, 19); batch no#42:time 10.198285 second
shape:(65536, 19); batch no#43:time 10.375221 second
shape:(65536, 19); batch no#44:time 8.714229 second
shape:(65536, 19); batch no#45:time 8.984336 second
shape:(65536, 19); batch no#46:time 8.875890 second
shape:(52110, 19); batch no#47:time 6.959690 second
All done!

In [ ]:
# !pip install pipreqs
# pipreqs D:/DataEnggineering/Docker/NY_Taxi

In [ ]:
!wget "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"

In [4]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.shape

(265, 4)

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265